@import '~@csstools/normalize.css';

$font-size: 30px;

:root {
  --some-color: red;
}

html {
}

body {
  color: var(--some-color);
  border-radius: 40px;
  display: flex;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.title {
}